Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Fix auto-imports (#491)
  .changeset/olive-tips-appear.md
  packages/language-server/test/completion.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Update dev dependencies
  README.md
  package.json
  packages/language-server/README.md
  packages/language-service/README.md
  packages/typescript-plugin/README.md
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Update to Volar services 0.0.64
  packages/language-server/package.json
Due: prettier --write

Test against Node.js 22
  .github/workflows/main.yml
  .github/workflows/version.yml
Due: prettier --write

Drop support for Node.js 18
  .changeset/legal-crews-visit.md
  packages/language-server/README.md
  packages/language-service/README.md
  packages/typescript-plugin/README.md
  packages/typescript-plugin/lib/index.cjs
  tsconfig.base.json
Due: prettier --write

Drop support for Node.js 18 (#499)
  .changeset/legal-crews-visit.md
  packages/language-server/README.md
  packages/language-service/README.md
  packages/typescript-plugin/README.md
  packages/typescript-plugin/lib/index.cjs
  tsconfig.base.json
Due: prettier --write

Resolve remark plugins synchronously
  .changeset/eighty-cats-glow.md
  .changeset/petite-keys-count.md
  .changeset/social-items-cut.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-service/lib/tsconfig.js
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
Due: prettier --write

Resolve remark plugins synchronously (#500)
  .changeset/eighty-cats-glow.md
  .changeset/petite-keys-count.md
  .changeset/social-items-cut.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-service/lib/tsconfig.js
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
Due: prettier --write

Make the resolveRemarkPlugins tests synchronous
  packages/language-service/test/tsconfig.js
Due: none

Add support for some popular transformer plugins
  .changeset/lucky-chicken-ring.md
  .changeset/sad-melons-play.md
  packages/language-server/lib/index.js
  packages/language-service/README.md
  packages/language-service/lib/index.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/plugins/plugin.js
  packages/language-service/lib/plugins/recma-export-filepath.js
  packages/language-service/lib/plugins/rehype-mdx-title.js
  packages/language-service/lib/plugins/remark-mdx-frontmatter.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
  packages/language-service/test/tsconfig.js
  packages/typescript-plugin/lib/index.cjs
Due: prettier --write

Add support for some popular transformer plugins (#501)
  .changeset/lucky-chicken-ring.md
  .changeset/sad-melons-play.md
  packages/language-server/lib/index.js
  packages/language-service/README.md
  packages/language-service/lib/index.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/plugins/plugin.js
  packages/language-service/lib/plugins/recma-export-filepath.js
  packages/language-service/lib/plugins/rehype-mdx-title.js
  packages/language-service/lib/plugins/remark-mdx-frontmatter.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
  packages/language-service/test/tsconfig.js
  packages/typescript-plugin/lib/index.cjs
Due: prettier --write

Report the state of Prettier support
  packages/vscode-mdx/README.md
Due: prettier --write

Replace jiti with require
  .changeset/lemon-hats-shop.md
  .changeset/rich-singers-own.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Fix a broken test
  packages/language-server/test/document-link.test.js
Due: none

Update to xo 1
  fixtures/debug/loader.mjs
  fixtures/debug/run.mjs
  package.json
  packages/language-server/lib/index.js
  packages/language-server/test/utils.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/plugins/plugin.js
  packages/language-service/lib/plugins/recma-export-filepath.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/package.json
  packages/language-service/test/language-plugin.js
  packages/typescript-plugin/lib/index.cjs
  packages/vscode-mdx/script/generate.mjs
  scripts/tag-extension.mjs
Due: prettier --write

Don’t test against Node.js 18
  .github/workflows/main.yml
  packages/language-service/lib/plugins/recma-export-filepath.js
Due: prettier --write

Replace jiti with require (#505)
  .changeset/lemon-hats-shop.md
  .changeset/rich-singers-own.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Change frontmatter fixture to directive
  fixtures/directive/directive.mdx
  fixtures/directive/tsconfig.json
  fixtures/fixtures.code-workspace
  fixtures/frontmatter/frontmatter.mdx
  package.json
Due: prettier --write, eslint

Fix organizing imports
  fixtures/node16/organize-imports.mdx
  packages/language-server/test/code-action.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: eslint

Fix lint issues
  .changeset/silly-loops-wait.md
  package.json
  packages/language-server/test/code-action.test.js
  packages/language-service/lib/virtual-code.js
Due: prettier --write

Fix test on Node.js 20
  packages/language-server/test/code-action.test.js
Due: none

Fix organizing imports (#507)
  .changeset/silly-loops-wait.md
  fixtures/node16/organize-imports.mdx
  package.json
  packages/language-server/test/code-action.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write, eslint

Remove unused variables
  packages/language-service/lib/virtual-code.js
Due: none

Filter diagnostics if only MDX files are found
  .changeset/flat-bottles-carry.md
  packages/typescript-plugin/lib/index.cjs
Due: prettier --write

Filter diagnostics if only MDX files are found (#508)
  .changeset/flat-bottles-carry.md
  packages/typescript-plugin/lib/index.cjs
Due: prettier --write

Remove TypeScript moving parts
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Fix resolving a tsconfig directory to a file path
  packages/language-server/lib/index.js
Due: none

Update Volar dependencies
  .changeset/kind-masks-create.md
  packages/language-server/package.json
  packages/typescript-plugin/lib/index.cjs
Due: prettier --write

Fix broken test
  packages/language-server/test/initialize.test.js
Due: none

feat(language-service): Make mdx nodes typed with MDX.IntrinsicElements
  packages/language-service/lib/virtual-code.js
Due: none

fix(language-service): use JSX node name map
  packages/language-service/lib/virtual-code.js
Due: none

fix(language-service): close tag bug & tests
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: none

chore(pr): add changeset
  .changeset/shaggy-memes-post.md
Due: prettier --write

Make MDX nodes typed with JSX.IntrinsicElements (#515)
  .changeset/shaggy-memes-post.md
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

feat(language-service): add language plugins for type checking external components
  .changeset/ready-dingos-grab.md
  README.md
  bun.lock
  package.json
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-service/lib/index.js
  packages/language-service/lib/language-plugins/README.md
  packages/language-service/lib/language-plugins/loader.js
  packages/language-service/lib/language-plugins/plugins/astro.cjs
  packages/language-service/lib/language-plugins/plugins/svelte.cjs
  packages/language-service/lib/language-plugins/plugins/vue.cjs
  packages/language-service/lib/language-plugins/registry.js
  packages/language-service/lib/language-plugins/resolver.js
  packages/language-service/lib/language-plugins/validator.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/package.json
  packages/language-service/test/language-plugin-resolver.test.js
  packages/language-service/test/language-plugin.test.js
  packages/language-service/test/language-plugins.test.js
  packages/language-service/tsconfig.plugins.json
  packages/typescript-plugin/lib/index.cjs
  packages/vscode-mdx/README.md
  packages/vscode-mdx/script/build.mjs
  packages/vscode-mdx/tsconfig.schema.json
  tsconfig.base.json
Due: prettier --write

test: update language server tests for tsdk-free changes
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-server/test/code-action.test.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/syntax-toggle.test.js
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

test: migrate TypeScript tests to @typescript/server-harness
  packages/language-server/package.json
  packages/language-server/test/code-action.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/ts/code-action.test.js
  packages/language-server/test/ts/completions.test.js
  packages/language-server/test/ts/definitions.test.js
  packages/language-server/test/ts/diagnostics.test.js
  packages/language-server/test/ts/hover.test.js
  packages/language-server/test/ts/rename.test.js
  packages/language-server/test/ts/server.js
  packages/language-server/test/utils.js
Due: prettier --write

feat: add tsserver bridge for reading MDX config from tsconfig
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/typescript-plugin/lib/index.cjs
  packages/vscode-mdx/src/extension.js
Due: prettier --write

feat: patch TypeScript extension to support MDX files
  packages/vscode-mdx/src/extension.js
Due: none

fix: enable file watcher for MDX files
  packages/language-server/lib/index.js
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
