Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Create stale-kiwis-design.md
  .changeset/stale-kiwis-design.md
Due: prettier --write

docs: change to use transferred publisher (#212)
  .changeset/stale-kiwis-design.md
  README.md
Due: prettier --write

Update pkg-size.yml
  .github/workflows/pkg-size.yml
Due: prettier --write

ci: use `pull_request_target` event instead (#216)
  .github/workflows/pkg-size.yml
Due: prettier --write

chore: bump @1stg/common-config, update README
  .eslintrc
  .remarkrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

Create sixty-geckos-design.md
  .changeset/sixty-geckos-design.md
Due: prettier --write

chore: update metadata
  package.json
Due: prettier --write

chore: update extension metadata content and README (#214)
  .changeset/sixty-geckos-design.md
  .eslintrc
  .remarkrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

docs: add Open VSX badges
  README.md
Due: prettier --write

docs: add links
  README.md
Due: prettier --write

docs: add Open VSX badges (#218)
  README.md
Due: prettier --write

removed superfluous embeddedLanguages setting
  package.json
Due: prettier --write

Create great-owls-sip.md
  .changeset/great-owls-sip.md
Due: prettier --write

fix: remove superfluous `embeddedLanguages` setting (#219)
  .changeset/great-owls-sip.md
  package.json
Due: prettier --write

feat: highlighting JSX evaluated expressions
  syntaxes/mdx.tmLanguage.json
  test/fixture.mdx
Due: prettier --write, eslint

docs: added changeset
  .changeset/short-coins-bow.md
Due: prettier --write

feat: add initial intellisense
  .eslintignore
  .eslintrc
  .gitignore
  .vscode/launch.json
  package.json
  packages/language-client/index.js
  packages/language-client/package.json
  packages/language-client/tsconfig.json
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/location-links.js
  packages/language-service/package.json
  packages/language-service/tsconfig.json
  packages/monaco/demo/index.css
  packages/monaco/demo/index.js
  packages/monaco/index.html
  packages/monaco/index.js
  packages/monaco/lib/language-features.js
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
  packages/monaco/tsconfig.json
  packages/monaco/vite.config.js
  test/fixture.mdx
  yarn.lock
Due: prettier --write, eslint

chore(monaco): replace Vite with Webpack
  packages/language-service/lib/provide-hover.js
  packages/monaco/demo/index.js
  packages/monaco/index.html
  packages/monaco/index.js
  packages/monaco/package.json
  packages/monaco/src/custom.worker.js
  packages/monaco/src/index.css
  packages/monaco/src/index.ejs
  packages/monaco/src/index.js
  packages/monaco/vite.config.js
  packages/monaco/webpack.config.js
  yarn.lock
Due: prettier --write

feat: add TypeScript based hovers
  .eslintrc
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-client/index.js
  packages/language-server/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/provide-hover.js
  packages/monaco/src/custom.worker.js
  test/component.js
  test/fixture.mdx
  test/profile.tsx
  test/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: enhance TypeScript integration
  .eslintrc
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
  packages/language-service/tsconfig.json
  packages/monaco/index.js
  packages/monaco/lib/language-features.js
  packages/monaco/mdx.worker.js
  packages/monaco/src/custom.worker.js
  packages/monaco/src/index.js
  packages/monaco/tsconfig.json
  packages/monaco/webpack.config.js
Due: prettier --write

feat: implement more intellisense features
  .vscode/launch.json
  packages/language-server/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
  packages/monaco/index.js
  packages/monaco/lib/language-features.js
  packages/monaco/package.json
  packages/monaco/src/custom.worker.js
  packages/monaco/src/index.js
  yarn.lock
Due: prettier --write

feat: support diagnostics
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
  packages/monaco/lib/language-features.js
  packages/monaco/src/index.ejs
  packages/monaco/src/index.js
Due: none

feat: restore support for markdown link definition
  packages/language-service/lib/index.js
  packages/language-service/lib/location-links.js
  packages/language-service/lib/markdown.js
  packages/language-service/lib/provide-hover.js
  packages/language-service/lib/utils.js
Due: none

fix: fix LSP definitions
  .prettierignore
  packages/language-server/index.js
  test/fixture.mdx
  test/profile.tsx
Due: eslint

chore: some cleanups
  demo/package.json
  demo/src/index.css
  demo/src/index.ejs
  demo/src/index.js
  demo/tsconfig.json
  demo/webpack.config.js
  package.json
  packages/language-service/index.js
  packages/language-service/package.json
  packages/monaco/lib/language-features.js
  packages/monaco/mdx.override.js
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
  test/components/Avatar.tsx
  test/fixture.mdx
  test/profile.tsx
  test/tsconfig.json
Due: prettier --write, eslint

feat: provide completions
  .eslintrc
  demo/src/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
  packages/monaco/index.js
  packages/monaco/lib/language-features.js
Due: none

chore: move convert functions into separate modules
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/monaco/lib/convert.js
  packages/monaco/lib/language-features.js
Due: none

chore: move processor into language service
  .eslintrc
  packages/language-server/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
  packages/monaco/mdx.override.js
Due: none

feat: support completion in the language server
  .vscode/tasks.json
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  test/.prettierignore
  test/fixture.mdx
Due: prettier --write, eslint

chore: support references in language server
  .vscode/launch.json
  package.json
  packages/language-server/index.js
  test/tsconfig.json
Due: prettier --write

feat: support diagnosics in language server
  .eslintignore
  .eslintrc
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-server/lib/documents.js
Due: none

fix: fix language service management
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-server/lib/language-service-manager.js
  test/tsconfig.json
Due: prettier --write

refactor: use TypeScript’s builtin displayPartsToString
  packages/language-server/index.js
  packages/language-server/lib/convert.js
Due: none

refactor: remove console.log
  packages/language-server/lib/language-service-manager.js
Due: none

fix: display location links for unopened files
  packages/language-server/index.js
Due: none

refactor: use helper function to create internal host
  packages/language-service/lib/index.js
  packages/language-service/lib/object.js
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: fix module resolution and caching issues
  packages/language-server/lib/documents.js
  packages/language-server/lib/language-service-manager.js
  packages/language-service/lib/index.js
  packages/language-service/lib/path.js
Due: none

refactor: remove useless function body
  packages/language-service/lib/index.js
Due: none

fix: fix for Monaco editor
  demo/package.json
  packages/language-service/lib/object.js
  packages/monaco/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
