Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Fix hardcoded path
  packages/language-server/tests/diagnostics.test.js
Due: none

Disable fixtures git.openRepositoryInParentFolders
  fixtures/fixtures.code-workspace
Due: none

Resolve definitions referencing unopened files (#294)
  .changeset/resolve-unreferenced-definitions.md
  packages/language-server/lib/convert.js
  packages/language-server/lib/documents.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/diagnostics.test.js
Due: prettier --write

Disable checks when debugging the extension
  .vscode/launch.json
Due: prettier --write

Fix various bugs related to shadow positions
  packages/language-server/tests/folding-ranges.test.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: none

Remove backticks from `autoClosingPairs` and `surroundingPairs` to prevent doubling them up
  README.md
  packages/vscode-mdx/.github/README.md
  packages/vscode-mdx/language-configuration.json
Due: prettier --write

Add the changeset file
  .changeset/remove-backtick-autocompletion.md
Due: prettier --write

Remove changes I made to the contribution documentation
  README.md
  packages/vscode-mdx/.github/README.md
Due: prettier --write

Remove backticks from autoClosingPairs and surroundingPairs
  .changeset/remove-backtick-autocompletion.md
  packages/vscode-mdx/language-configuration.json
Due: prettier --write

Add tests for shadow content references
  fixtures/node16/undefined-props.mdx
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
Due: eslint

Add missing changeset
  .changeset/handle-shadow-positions.md
Due: prettier --write

Support remark plugins in Monaco and demo
  demo/package.json
  demo/src/index.js
  demo/src/mdx.worker.js
  demo/tsconfig.json
  packages/monaco/README.md
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
Due: prettier --write

Publish the demo to GitHub pages
  .github/workflows/demo.yml
Due: prettier --write

Support remark plugins in Monaco and demo (#304)
  demo/package.json
  demo/src/index.js
  demo/src/mdx.worker.js
  demo/tsconfig.json
  packages/monaco/README.md
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
Due: prettier --write

Publish the demo to GitHub pages (#305)
  .github/workflows/demo.yml
Due: prettier --write

Add missing information for GitHub pages action
  .github/workflows/demo.yml
Due: prettier --write

Emit types for language service and monaco
  .gitignore
  packages/language-service/package.json
  packages/language-service/tsconfig.json
  packages/monaco/tsconfig.json
Due: prettier --write

Fix various bugs related to shadow positions (#300)
  .changeset/handle-shadow-positions.md
  fixtures/node16/undefined-props.mdx
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/folding-ranges.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: prettier --write, eslint

Trim references to shadow positions from diagnostics
  .changeset/shadow-diagnostics.md
  packages/language-server/tests/diagnostics.test.js
  packages/language-service/lib/index.js
Due: prettier --write

Remove invalid monaco tests
  packages/monaco/tests/diagnostics.test.js
Due: none

Support createData in @mdx-js/monaco
  demo/src/index.js
  packages/monaco/index.js
  packages/monaco/mdx.worker.js
Due: none

Trim references to shadow positions from diagnostics (#306)
  .changeset/shadow-diagnostics.md
  packages/language-server/tests/diagnostics.test.js
  packages/language-service/lib/index.js
  packages/monaco/tests/diagnostics.test.js
Due: prettier --write

Add support for mdxJsxTextElement
  .changeset/mdx-jsx-text-element.md
  fixtures/node16/mdx-jsx-text-element.mdx
  packages/language-server/tests/hover.test.js
  packages/language-service/lib/utils.js
Due: prettier --write, eslint

Add support for mdxJsxTextElement (#308)
  .changeset/mdx-jsx-text-element.md
  fixtures/node16/mdx-jsx-text-element.mdx
  packages/language-server/tests/hover.test.js
  packages/language-service/lib/utils.js
Due: prettier --write, eslint

Skip completion in markdown content
  .changeset/filter-completion.md
  fixtures/node16/completion.mdx
  packages/language-server/tests/completion.test.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: prettier --write, eslint

Skip completion in markdown content (#310)
  .changeset/filter-completion.md
  fixtures/node16/completion.mdx
  packages/language-server/tests/completion.test.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: prettier --write, eslint

Rename repo to `mdx-analyzer`
  .changeset/config.json
  .github/workflows/version.yml
  README.md
  demo/README.md
  package.json
  packages/language-server/package.json
  packages/language-service/package.json
  packages/monaco/README.md
  packages/monaco/package.json
  packages/vscode-mdx/CHANGELOG.md
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

changesets are only for `vscode-mdx`
  .github/workflows/version.yml
Due: prettier --write

Rename repo to `mdx-analyzer`
  .changeset/config.json
  README.md
  demo/README.md
  package.json
  packages/language-server/package.json
  packages/language-service/package.json
  packages/monaco/README.md
  packages/monaco/package.json
  packages/vscode-mdx/CHANGELOG.md
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Restore backtick to surrounding pairs
  .changeset/surrounding-backtick.md
  packages/vscode-mdx/language-configuration.json
Due: prettier --write

Update to TypeScript 5
  .changeset/typescript-5.md
  package.json
  packages/language-server/package.json
Due: prettier --write

Stub new language service method
  packages/language-service/lib/index.js
Due: none

Update to TypeScript 5 (#315)
  .changeset/typescript-5.md
  package.json
  packages/language-server/package.json
  packages/language-service/lib/index.js
Due: prettier --write

Restore backtick to surrounding pairs (#314)
  .changeset/surrounding-backtick.md
  packages/vscode-mdx/language-configuration.json
Due: prettier --write

Automate releases
  .changeset/release.md
  .github/workflows/publish.yml
  .github/workflows/version.yml
  packages/language-service/package.json
  release.sh
Due: prettier --write

Automate releases (#316)
  .changeset/release.md
  .github/workflows/publish.yml
  .github/workflows/version.yml
  packages/language-service/package.json
  release.sh
Due: prettier --write

Fix frontmatter syntax
  .changeset/release.md
Due: prettier --write

Always run npm install in version workflow
  .github/workflows/version.yml
  release.sh
Due: prettier --write

Fix package name in changeset
  .changeset/release.md
Due: prettier --write

Add improved syntax highlighting grammar
  package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/syntaxes/mdx.tmLanguage.json
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
