Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Remove names and excessive whitespace from workflows
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
Due: prettier --write

Fix linting issue
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
Due: none

Update component test fixture
  fixtures/node16/component.tsx
Due: eslint

Fix tests
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
Due: none

Remove comments from JSON files
  .vscode/launch.json
  packages/vscode-mdx/language-configuration.json
  packages/vscode-mdx/package.json
Due: prettier --write

Ignore non MDX files when processing (#273)
  .changeset/ignore-non-mdx-files.md
  fixtures/node16/component.tsx
  packages/language-server/index.js
  packages/language-server/lib/documents.js
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/vscode-mdx/package.json
Due: prettier --write, eslint

Remove whitespace from GitHub actions variables
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
Due: prettier --write

Remove comments from JSON files (#275)
  .vscode/launch.json
  packages/vscode-mdx/language-configuration.json
  packages/vscode-mdx/package.json
Due: prettier --write

Remove names and excessive whitespace from workflows (#274)
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
Due: prettier --write

Simplify debug configuration
  .vscode/launch.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Simplify debug configuration (#277)
  .vscode/launch.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Update documentation for plugin usage
  .changeset/remark-syntax-plugins.md
  packages/language-server/README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Apply suggestions from code review
  .changeset/remark-syntax-plugins.md
  packages/language-server/README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Resolve merge conflict issues
  packages/language-server/index.js
Due: none

Support remark plugins in the language server (#272)
  .changeset/remark-syntax-plugins.md
  fixtures/frontmatter/frontmatter.mdx
  fixtures/frontmatter/tsconfig.json
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/lib/configuration.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/package.json
  packages/language-server/tests/plugins.test.js
  packages/language-server/tests/utils.js
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
  packages/vscode-mdx/tsconfig.schema.json
Due: prettier --write, eslint

Fix crash of `allowJs` and `checkJs` are missing
  .changeset/allowjs-crash.md
  fixtures/demo/tsconfig.json
  fixtures/frontmatter/tsconfig.json
  fixtures/node16/tsconfig.json
  packages/language-server/lib/language-service-manager.js
Due: prettier --write

Fix crash of `allowJs` and `checkJs` are missing (#279)
  .changeset/allowjs-crash.md
  fixtures/demo/tsconfig.json
  fixtures/frontmatter/tsconfig.json
  fixtures/node16/tsconfig.json
  packages/language-server/lib/language-service-manager.js
Due: prettier --write

Fix crash if file is not in the TypeScript project
  .changeset/fix-crash.md
  fixtures/fixtures.code-workspace
  fixtures/no-tsconfig/readme.mdx
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/no-tsconfig.test.js
Due: prettier --write, eslint

Fix XO issues
  packages/language-server/lib/configuration.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/no-tsconfig.test.js
  packages/language-server/tests/plugins.test.js
Due: none

Fix crash if file is not in the TypeScript project (#281)
  .changeset/fix-crash.md
  fixtures/fixtures.code-workspace
  fixtures/no-tsconfig/readme.mdx
  packages/language-server/lib/configuration.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/no-tsconfig.test.js
Due: prettier --write, eslint

Remove link references from changesets
  .changeset/remark-syntax-plugins.md
Due: prettier --write

Merge release and publish workflows
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

Rename from Markdown React to MDX
  packages/vscode-mdx/package.json
  packages/vscode-mdx/syntaxes/mdx.tmLanguage.json
Due: prettier --write

Add changeset
  .changeset/rename-language.md
Due: prettier --write

Rename from Markdown React to MDX (#285)
  .changeset/rename-language.md
  packages/vscode-mdx/package.json
  packages/vscode-mdx/syntaxes/mdx.tmLanguage.json
Due: prettier --write

Merge release and publish workflows (#283)
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

Remove upload-artifact action from publish workflow
  .github/workflows/publish.yml
Due: prettier --write

Add a test for diagnostics
  fixtures/node16/type-errors.mdx
  packages/language-server/tests/diagnostics.test.js
Due: eslint

Fix false positives in diagnostics
  packages/language-server/index.js
  packages/language-service/lib/index.js
Due: none

Add changeset
  .changeset/false-positive-diagnostics
Due: none

Fix changeset file extension
  .changeset/false-positive-diagnostics.md
Due: prettier --write

Fix false positives in diagnostics (#286)
  .changeset/false-positive-diagnostics.md
  packages/language-server/index.js
  packages/language-service/lib/index.js
Due: prettier --write

Fix error when requesting folding ranges
  .changeset/fix-folding-ranges.md
  fixtures/node16/mixed.mdx
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/folding-ranges.test.js
  packages/language-service/lib/outline.js
Due: prettier --write, eslint

Update fixtures/node16/mixed.mdx
  fixtures/node16/mixed.mdx
Due: eslint

Fix broken test
  packages/language-server/tests/folding-ranges.test.js
Due: none

Fix error when requesting folding ranges (#290)
  .changeset/fix-folding-ranges.md
  fixtures/node16/mixed.mdx
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/folding-ranges.test.js
  packages/language-service/lib/outline.js
Due: prettier --write, eslint

The test runner now calls beforeEach after test failures
  packages/language-server/tests/utils.js
Due: none

The test runner now calls beforeEach after test failures (#293)
  packages/language-server/tests/utils.js
Due: none

Resolve definitions referencing unopened files
  .changeset/resolve-unreferenced-definitions.md
  packages/language-server/lib/convert.js
  packages/language-server/lib/documents.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/definitions.test.js
Due: prettier --write

Fix diagnostics test
  packages/language-server/tests/diagnostics.test.js
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
