Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: handle parsing errors
  packages/language-service/lib/error.js
  packages/language-service/lib/index.js
  packages/monaco/lib/language-features.js
Due: none

docs: add readmes, licenses, and package metadata
  packages/language-client/package.json
  packages/language-server/LICENSE
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-service/LICENSE
  packages/language-service/README.md
  packages/language-service/package.json
  packages/monaco/LICENSE
  packages/monaco/README.md
  packages/monaco/package.json
Due: prettier --write

chore: enable v8 --nolazy when debuggin
  packages/language-client/index.js
Due: none

fix: add MDX snapshot caching
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: prettier --write

fix: fix position mapping
  packages/language-server/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/utils.js
Due: none

feat: support renaming symbols
  packages/language-server/index.js
  packages/language-service/lib/index.js
Due: none

feat: support type definitions
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-service/lib/index.js
Due: none

feat: implement folding ranges
  packages/language-server/index.js
  packages/language-service/lib/index.js
Due: none

Update packages/monaco/README.md
  packages/monaco/README.md
Due: prettier --write

feat: support based markdown code folding
  packages/language-server/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/outline.js
Due: none

feat: provide document outline based on TypeScript
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-service/lib/index.js
Due: none

test: add initial language server tests
  .eslintrc
  packages/language-server/lib/convert.js
  packages/language-server/package.json
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/fixtures/node16/a.mdx
  packages/language-server/tests/fixtures/node16/b.mdx
  packages/language-server/tests/fixtures/node16/link-reference.mdx
  packages/language-server/tests/fixtures/node16/mixed.mdx
  packages/language-server/tests/fixtures/node16/tsconfig.json
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/initialize.test.js
  packages/language-server/tests/utils.js
Due: prettier --write, eslint

chore: remove unnecessary CSS unit
  demo/src/index.css
Due: none

fix: filter MDXContent from document symbols
  packages/language-server/tests/document-symbols.test.js
  packages/language-service/lib/index.js
Due: none

chore: update @types/node
  yarn.lock
Due: none

chore: update is-core-module
  yarn.lock
Due: none

test: add tests for prepare-rename-request
  packages/language-server/index.js
  packages/language-server/lib/convert.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/utils.js
Due: none

test: add test for rename request
  packages/language-server/tests/rename.test.js
Due: none

fix: fix resolving JSX runtimes
  packages/language-server/lib/language-service-manager.js
  packages/language-server/tests/fixtures/node16/a.mdx
  packages/language-server/tests/fixtures/node16/tsconfig.json
  packages/language-server/tests/hover.test.js
  packages/language-service/lib/index.js
  yarn.lock
Due: prettier --write, eslint

fix: fix React types in the Monaco demo
  demo/src/index.js
  demo/webpack.config.js
Due: none

chore: remove excessive funding information
  .github/FUNDING.yml
  README.md
  package.json
Due: prettier --write

chore: prettier ignore .mdx files
  .prettierignore
Due: none

chore: remove lintstaged and simple-git-hooks
  .lintstagedrc.js
  .simple-git-hooks.js
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: remove .commitlintrc
  .commitlintrc
Due: none

chore: move demo and test fixtures into shared directory
  demo/src/index.js
  demo/webpack.config.js
  fixtures/demo/.prettierignore
  fixtures/demo/components/Avatar.tsx
  fixtures/demo/fixture.mdx
  fixtures/demo/tsconfig.json
  fixtures/fixtures.code-workspace
  fixtures/node16/a.mdx
  fixtures/node16/b.mdx
  fixtures/node16/link-reference.mdx
  fixtures/node16/mixed.mdx
  fixtures/node16/tsconfig.json
  packages/language-server/tests/utils.js
Due: prettier --write, eslint

chore: fix debug launch script
  .vscode/launch.json
Due: prettier --write

chore: remove excessive funding information (#236)
  .github/FUNDING.yml
  README.md
  package.json
Due: prettier --write

chore: prettier ignore .mdx files (#237)
  .prettierignore
Due: none

chore: remove commit-lint, lintstaged, and simple-git-hooks (#238)
  .commitlintrc
  .lintstagedrc.js
  .simple-git-hooks.js
Due: none

chore: update .gitignore (#239)
  .gitignore
Due: none

Switch from ESLint to XO
  .editorconfig
  .eslintignore
  .eslintrc
  .prettierrc
  package.json
  patches/eslint-mdx+2.0.2.patch
  test/component.js
  yarn.lock
Due: prettier --write

Remove renovate
  .renovaterc
  README.md
Due: prettier --write

Switch to remark-preset-wooorm
  .remarkignore
  .remarkrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

Process feedback
  README.md
Due: prettier --write

Remove renovate (#241)
  .renovaterc
  README.md
Due: prettier --write

Switch from ESLint to XO (#240)
  .editorconfig
  .eslintignore
  .eslintrc
  .prettierrc
  package.json
  patches/eslint-mdx+2.0.2.patch
  test/component.js
  yarn.lock
Due: prettier --write

Switch to remark-preset-wooorm (#242)
  .remarkignore
  .remarkrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: switch from yarn to npm
  .github/workflows/ci.yml
  .github/workflows/pkg-size.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
  .npmrc
  .vscodeignore
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
