Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

refactor: remove patchTypeScriptExtension
  packages/vscode-mdx/src/extension.js
Due: none

Update tsconfig.base.json
  tsconfig.base.json
Due: prettier --write

Update server.js
  packages/language-server/test/ts/server.js
Due: none

Revert "Update server.js"
  packages/language-server/test/ts/server.js
Due: none

Use URI.fsPath
  packages/language-server/test/ts/code-action.test.js
  packages/language-server/test/ts/completions.test.js
  packages/language-server/test/ts/definitions.test.js
  packages/language-server/test/ts/diagnostics.test.js
  packages/language-server/test/ts/hover.test.js
  packages/language-server/test/ts/rename.test.js
  packages/language-server/test/ts/server.js
  packages/language-server/test/utils.js
Due: none

Add metadata for server trace configuration
  .changeset/quiet-dryers-sip.md
  packages/vscode-mdx/package.json
Due: prettier --write

wip
  packages/language-service/lib/language-plugin.js
  packages/language-service/package.json
Due: prettier --write

feat: add tests for acorn-loose ESM recovery and update parse error expectations
  packages/language-server/test/diagnostics.test.js
  packages/language-service/test/language-plugin.js
Due: none

fix: report acorn-loose recovery errors
  packages/language-service/lib/virtual-code.js
Due: none

fix: loosen acorn dependency ranges
  package.json
  packages/language-service/package.json
Due: prettier --write

test: cover ESM recovery behavior
  packages/language-service/test/language-plugin.js
Due: none

chore: add changeset
  .changeset/quiet-maps-arrive.md
Due: prettier --write

Type frontmatter from a schema
  .changeset/frontmatter-typing.md
  README.md
  packages/language-service/README.md
  packages/language-service/lib/plugins/frontmatter-schema.js
  packages/language-service/lib/plugins/plugin.js
  packages/language-service/lib/plugins/remark-mdx-frontmatter.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/package.json
  packages/language-service/test/language-plugin.js
Due: prettier --write

Dedupe language server LSP dependencies for lockfile-free installs
  .changeset/dedupe-lsp-deps.md
  packages/language-server/package.json
Due: prettier --write

Cover frontmatter value rendering and non-map cases
  packages/language-service/test/language-plugin.js
Due: none

Add a frontmatter fixture for the extension test workspace
  fixtures/fixtures.code-workspace
  fixtures/frontmatter/errors.mdx
  fixtures/frontmatter/frontmatter.ts
  fixtures/frontmatter/tsconfig.json
  fixtures/frontmatter/valid.mdx
Due: prettier --write, eslint

Add hover, definition, and completion for frontmatter keys
  .changeset/frontmatter-typing.md
  README.md
  packages/language-service/lib/plugins/frontmatter-schema.js
  packages/language-service/lib/plugins/remark-mdx-frontmatter.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Pin vscode-languageserver packages
  packages/language-server/package.json
Due: prettier --write

Revert package.json overrides
  package.json
Due: prettier --write

Recover from incomplete ESM using acorn-loose (#528)
  .changeset/quiet-maps-arrive.md
  packages/language-server/package.json
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/package.json
  packages/language-service/test/language-plugin.js
Due: prettier --write

Enable skipLibCheck in @mdx-js/language-server
  packages/language-server/tsconfig.json
Due: prettier --write

Pin @vscode/vsce to ~3.6.0
  packages/vscode-mdx/package.json
Due: prettier --write

Remove @mdx-js/typescript-plugin
  README.md
  packages/tsconfig.json
  packages/typescript-plugin/CHANGELOG.md
  packages/typescript-plugin/LICENSE
  packages/typescript-plugin/README.md
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

Fix linting error
  README.md
Due: prettier --write

Remove @mdx-js/typescript-plugin (#534)
  README.md
  packages/tsconfig.json
  packages/typescript-plugin/CHANGELOG.md
  packages/typescript-plugin/LICENSE
  packages/typescript-plugin/README.md
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

Remove type-checking support from the language server
  .changeset/slow-foxes-love.md
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/test/code-action.test.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/syntax-toggle.test.js
Due: prettier --write

Remove type-checking support from the language server (#535)
  .changeset/slow-foxes-love.md
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/test/code-action.test.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/syntax-toggle.test.js
Due: prettier --write

Remove TypeScript support from language server
  .changeset/humble-birds-clean.md
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/initialize.test.js
Due: prettier --write

Remove TypeScript support from language server (#538)
  .changeset/humble-birds-clean.md
  packages/language-server/README.md
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/initialize.test.js
Due: prettier --write

Update GitHub Actions versions
  .github/workflows/main.yml
  .github/workflows/version.yml
Due: prettier --write

Update the Node.js versions in CI
  .github/workflows/main.yml
  .github/workflows/version.yml
Due: prettier --write

Update the Node.js versions in CI (#539)
  .github/workflows/main.yml
  .github/workflows/version.yml
Due: prettier --write

Update to Changesets 3
  .changeset/config.json
  .github/workflows/version.yml
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
