Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,ts,tsx}": [
    "eslint",
    "git add"
  ]
}

Update packages/language-service/README.md
  packages/language-service/README.md
Due: prettier --write

Update packages/language-service/lib/utils.js
  packages/language-service/lib/utils.js
Due: none

Reduce boilerplate for unimplemented code
  packages/language-service/lib/index.js
Due: none

Include TypeScript in the extension bundle
  package.json
Due: prettier --write

Fix some type issues
  .gitignore
  demo/package.json
  demo/tsconfig.json
  demo/webpack.config.js
  package.json
  packages/language-client/package.json
  packages/language-server/package.json
  packages/language-service/lib/object.js
  packages/language-service/package.json
  packages/monaco/index.js
  packages/monaco/lib/convert.js
  packages/monaco/lib/language-features.js
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
  packages/monaco/tsconfig.json
Due: prettier --write

Update jsdoc
  packages/language-client/index.js
  packages/language-server/lib/convert.js
  packages/language-server/lib/documents.js
  packages/language-server/lib/language-service-manager.js
  packages/language-service/lib/error.js
  packages/language-service/lib/index.js
  packages/language-service/lib/markdown.js
  packages/language-service/lib/object.js
  packages/language-service/lib/outline.js
  packages/language-service/lib/path.js
  packages/language-service/lib/utils.js
  packages/monaco/index.js
  packages/monaco/lib/convert.js
  packages/monaco/lib/language-features.js
Due: none

Fix spacing issue
  packages/monaco/lib/language-features.js
Due: none

Add changeset for IntelliSense
  .changeset/intellisense.md
Due: prettier --write

Set language server process title
  packages/language-server/index.js
Due: none

Omit source map from production build
  .vscode/tasks.json
  package.json
Due: prettier --write

Fix IntelliSense casing
  packages/language-server/README.md
  packages/language-service/README.md
Due: prettier --write

Explain MDX/TypeScript snapshot synchronization
  packages/language-service/lib/index.js
Due: none

Add readme and license to demo
  demo/LICENSE
  demo/README.md
  demo/src/index.js
Due: prettier --write

Explain why Windows tests are disabled
  .github/workflows/main.yml
Due: prettier --write

Explain how one can verity MDX intellisense is working
  .changeset/intellisense.md
Due: prettier --write

Add explanations to the Monaco editor demo
  demo/src/index.js
Due: none

Configure xo env
  package.json
  packages/monaco/mdx.worker.js
Due: prettier --write

Include builtin TypeScript libs in VSCode bundle
  .vscode/tasks.json
  fixtures/demo/tsconfig.json
  package.json
Due: prettier --write

Fix .vscodeignore
  .vscodeignore
Due: none

Update ovsx and vsce dependencies
  package.json
Due: prettier --write

Update ovsx and vsce dependencies (#258)
  package.json
Due: prettier --write

Move vscode-mdx extension into a workspace
  .github/workflows/publish.yml
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-client/package.json
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/LICENSE
  packages/vscode-mdx/README.md
  packages/vscode-mdx/assets/mdx.png
  packages/vscode-mdx/language-configuration.jsonc
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
  packages/vscode-mdx/syntaxes/mdx.tmLanguage.json
  packages/vscode-mdx/tsconfig.json
Due: prettier --write

Make repository field an object for vscode-mdx
  packages/vscode-mdx/package.json
Due: prettier --write

Add more repository metadata to vscode-mdx
  packages/vscode-mdx/package.json
Due: prettier --write

Fix vscode-mdx devDependencies
  package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Restore @types/vscode dependency
  packages/vscode-mdx/package.json
Due: prettier --write

Move vscode-mdx extension into a workspace (#259)
  .github/workflows/publish.yml
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-client/package.json
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/LICENSE
  packages/vscode-mdx/README.md
  packages/vscode-mdx/assets/mdx.png
  packages/vscode-mdx/language-configuration.jsonc
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
  packages/vscode-mdx/syntaxes/mdx.tmLanguage.json
  packages/vscode-mdx/tsconfig.json
Due: prettier --write

Move changelog into vscode-mdx package
  packages/vscode-mdx/CHANGELOG.md
Due: prettier --write

Fix broken example in a changeset
  .changeset/short-coins-bow.md
Due: prettier --write

Fix changelog link
  README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Fix broken example in a changeset (#265)
  .changeset/short-coins-bow.md
Due: prettier --write

Move changelog into vscode-mdx package (#263)
  README.md
  packages/vscode-mdx/CHANGELOG.md
  packages/vscode-mdx/README.md
Due: prettier --write

Fix quotes in the changeset example
  .changeset/short-coins-bow.md
Due: prettier --write

Fix quotes in the changeset example (#268)
  .changeset/short-coins-bow.md
Due: prettier --write

Enable language server in fixtures workspace
  fixtures/fixtures.code-workspace
Due: none

Enable language server in fixtures workspace (#271)
  fixtures/fixtures.code-workspace
Due: none

Support remark plugins in the language server
  fixtures/frontmatter/frontmatter.mdx
  fixtures/frontmatter/tsconfig.json
  packages/language-server/index.js
  packages/language-server/lib/configuration.js
  packages/language-server/lib/language-service-manager.js
  packages/language-server/package.json
  packages/language-server/tests/plugins.test.js
  packages/language-server/tests/utils.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/tsconfig.schema.json
Due: prettier --write, eslint

Add missing changeset
  .changeset/remark-syntax-plugins.md
Due: prettier --write

Ignore non MDX files when processing
  .changeset/ignore-non-mdx-files.md
  fixtures/node16/component.tsx
  packages/language-server/index.js
  packages/language-server/lib/documents.js
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/vscode-mdx/package.json
Due: prettier --write, eslint
