Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,ts,tsx}": [
    "eslint",
    "git add"
  ]
}

Fix formatting
  packages/vscode-mdx/src/extension.js
Due: none

Await unhandled promises
  packages/vscode-mdx/src/extension.js
Due: none

Use Disposable.from to handle array of disposables
  packages/vscode-mdx/src/extension.js
Due: none

Use actual ellipsis in progress message
  packages/vscode-mdx/src/extension.js
Due: none

Update packages/vscode-mdx/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Apply suggestions from code review
  packages/vscode-mdx/README.md
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Update fixtures.code-workspace
  fixtures/fixtures.code-workspace
Due: none

Update packages/vscode-mdx/README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Mark the language server stable (#351)
  fixtures/fixtures.code-workspace
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Add missing changeset
  .changeset/enable-language-server.md
Due: prettier --write

updates
  packages/language-server/index.js
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/package.json
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/plugins.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/utils.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
  packages/vscode-mdx/package.json
Due: prettier --write

sync https://github.com/volarjs/volar.js/pull/91 [skip ci]
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Fix dropping local media in an MDX file
  .changeset/fix-drop-provider.md
  packages/vscode-mdx/src/document-drop-edit-provider.js
Due: prettier --write

Fix dropping local media in an MDX file (#357)
  .changeset/fix-drop-provider.md
  packages/vscode-mdx/src/document-drop-edit-provider.js
Due: prettier --write

Add a TypeScript version status item
  .changeset/ts-version-status-item.md
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Add a TypeScript version status item (#358)
  .changeset/ts-version-status-item.md
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Fix broken tests
  packages/language-server/test/completion.test.js
  packages/language-server/test/document-link.test.js
Due: none

Remove unused import
  packages/language-server/test/completion.test.js
Due: none

Fix changeset
  .changeset/fix-drop-provider.md
Due: prettier --write

updates
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/package.json
  packages/language-service/lib/language-module.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/vscode-mdx/package.json
Due: prettier --write

Update language-module.js
  packages/language-service/lib/language-module.js
Due: none

Fix formatting
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Fix tests
  packages/language-server/test/completion.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/initialize.test.js
  packages/language-service/test/language-module.js
Due: none

Use .jsx in resolveSourceFileName, not .tsx
  packages/language-service/lib/language-module.js
Due: none

Use URI.toString()
  packages/language-server/test/utils.js
Due: none

Use URI.path
  packages/language-server/test/document-link.test.js
Due: none

Update Volar
  packages/language-server/package.json
  packages/language-service/lib/language-module.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/vscode-mdx/package.json
Due: prettier --write

fix types
  packages/language-server/test/document-link.test.js
  packages/language-server/test/utils.js
  packages/language-service/lib/language-module.js
Due: none

update tests
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/initialize.test.js
  packages/language-service/test/language-module.js
Due: none

test: fix langaugeId
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/plugins.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/utils.js
Due: none

ci: add a workaround for test case on Windows
  .gitignore
  packages/language-server/test/document-link.test.js
  packages/vscode-mdx/src/document-drop-edit-provider.js
Due: none

use `@volar/test-utils`
  fixtures/node16/component.tsx
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/package.json
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/plugins.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/utils.js
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write, eslint

Asynchronous TS plugin example
  packages/language-server/index.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
  packages/vscode-mdx/src/extension.js
  packages/vscode-mdx/src/typescript-plugin.js
Due: prettier --write

Update packages/vscode-mdx/src/typescript-plugin.js
  packages/vscode-mdx/src/typescript-plugin.js
Due: none
