Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,ts,tsx}": [
    "eslint",
    "git add"
  ]
}

Simplify fixtureUri logic
  packages/language-server/test/utils.js
Due: none

Upgrade to Volar 2.0 alpha (#356)
  fixtures/node16/component.tsx
  packages/language-server/index.js
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/package.json
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/plugins.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-server/test/utils.js
  packages/language-service/lib/language-module.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write, eslint

Rework virtual files
  packages/language-service/lib/language-module.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/language-service/tsconfig.json
  packages/language-service/types.d.ts
Due: prettier --write, eslint

Handle end markdown chunk
  packages/language-server/test/completion.test.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Fix broken tests
  packages/language-server/test/completion.test.js
  packages/language-server/test/document-symbols.test.js
Due: none

Rework virtual files (#363)
  packages/language-server/test/completion.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-service/lib/language-module.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/language-service/tsconfig.json
  packages/language-service/types.d.ts
Due: prettier --write, eslint

Disable formatting
  .changeset/tasty-geckos-obey.md
  packages/language-service/lib/language-module.js
Due: prettier --write

Fix broken tests
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Sort mapping code information
  packages/language-service/lib/language-module.js
Due: none

Disable formatting (#364)
  .changeset/tasty-geckos-obey.md
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: prettier --write

Enhance how the Props type is used
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Add changeset
  .changeset/tame-moles-type.md
Due: prettier --write

Enhance how the Props type is used (#366)
  .changeset/tame-moles-type.md
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: prettier --write

Support MDX layout
  .changeset/purple-mice-rhyme.md
  package.json
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
  packages/language-service/types.d.ts
Due: prettier --write, eslint

Fix linting issues
  package.json
  packages/language-service/lib/language-module.js
Due: prettier --write

Fix the README title in the `language-server` package
  packages/language-server/README.md
Due: prettier --write

Fix the README title in the `language-server` package (#367)
  packages/language-server/README.md
Due: prettier --write

Remove unwanted jsdoc
  packages/language-service/lib/language-module.js
Due: none

Support MDX layout (#365)
  .changeset/purple-mice-rhyme.md
  package.json
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
  packages/language-service/types.d.ts
Due: prettier --write, eslint

Deduplicate logic for generating virtual content
  package.json
  packages/language-service/lib/language-module.js
Due: prettier --write

Include empty brackets in the generated JSX chunk
  packages/language-service/lib/language-module.js
Due: none

Remove the language module dependency on TypeScript
  packages/language-server/lib/language-server-plugin.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Fix a typo in the watch file extensions
  packages/language-server/lib/language-server-plugin.js
Due: none

Add jsx to watch file extensions
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/test/initialize.test.js
Due: none

Fix GitHub releases of vscode-mdx
  package.json
  release.sh
  scripts/tag-extension.js
Due: prettier --write

Don’t specify type module in top level package.json
  package.json
  release.sh
  scripts/tag-extension.mjs
Due: prettier --write

Dedent virtual markdown chunks
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

Fix GitHub releases of vscode-mdx (#369)
  release.sh
  scripts/tag-extension.mjs
Due: none

Dedent virtual markdown chunks (#370)
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: none

use createAsyncTSServerPlugin
  fixtures/fixtures.code-workspace
  packages/language-server/package.json
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/typescript-plugin.js
Due: prettier --write

Update fixtures.code-workspace
  fixtures/fixtures.code-workspace
Due: none

support typescript extension features
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
  packages/vscode-mdx/src/typescript-plugin.js
Due: prettier --write

Update extension.js
  packages/vscode-mdx/src/extension.js
Due: none

bump volar
  packages/language-server/package.json
  packages/language-service/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

add issue link [skip ci]
  packages/vscode-mdx/src/extension.js
Due: none

add markdown options [skip ci]
  packages/vscode-mdx/src/extension.js
Due: none

Update to Volar 2.0.0-alpha.7
  packages/language-server/package.json
  packages/language-server/test/initialize.test.js
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Add changeset
  .changeset/purple-kings-unite.md
Due: prettier --write
