Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Remove the language module dependency on TypeScript (#368)
  .changeset/purple-kings-unite.md
  packages/language-server/lib/language-server-plugin.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: prettier --write

Replace useless function findIndexAfter
  packages/language-service/lib/language-module.js
Due: none

Inline useless string concatenation
  packages/language-service/lib/language-module.js
Due: none

Extract ScriptSnapshot into its own file
  packages/language-service/lib/language-module.js
  packages/language-service/lib/script-snapshot.js
  packages/language-service/test/language-module.js
Due: none

Use the mdast Nodes type
  packages/language-service/lib/language-module.js
Due: none

Move logic for virtual files into a separate file
  packages/language-service/lib/language-module.js
  packages/language-service/lib/virtual-file.js
Due: none

Fix return type of MDXContent in case of syntax error
  .changeset/pink-beans-move.md
  packages/language-service/lib/virtual-file.js
  packages/language-service/test/language-module.js
Due: prettier --write

Fix return type of MDXContent in case of syntax error (#375)
  .changeset/pink-beans-move.md
  packages/language-service/lib/virtual-file.js
  packages/language-service/test/language-module.js
Due: prettier --write

Add missing types dependencies
  packages/language-service/package.json
Due: prettier --write

Use a dedicated class to store virtual MDX files
  packages/language-service/lib/language-module.js
  packages/language-service/lib/virtual-file.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
Due: prettier --write

Rename getMdxLanguageModule to createMdxLanguagePlugin
  .changeset/lazy-pandas-carry.md
  packages/language-server/lib/language-server-plugin.js
  packages/language-service/index.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: prettier --write

Rename getMdxLanguageModule to createMdxLanguagePlugin (#376)
  .changeset/lazy-pandas-carry.md
  packages/language-server/lib/language-server-plugin.js
  packages/language-service/index.js
  packages/language-service/lib/language-module.js
  packages/language-service/test/language-module.js
Due: prettier --write

Rename language-module.js to language-plugin.js
  packages/language-service/index.js
  packages/language-service/lib/language-plugin.js
Due: none

Handle MDX parse errors
  packages/language-server/lib/language-server-plugin.js
  packages/language-service/index.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/lib/virtual-file.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
Due: prettier --write

Test parse errors
  fixtures/node16/syntax-error.mdx
  packages/language-server/test/completion.test.js
  packages/language-server/test/diagnostics.test.js
Due: eslint

Add changeset
  .changeset/loud-balloons-roll.md
Due: prettier --write

Remove frontmatter plugin test
  packages/language-server/test/plugins.test.js
Due: none

Handle MDX parse errors (#374)
  .changeset/loud-balloons-roll.md
  fixtures/node16/syntax-error.mdx
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/plugins.test.js
  packages/language-service/index.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/lib/virtual-file.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
Due: prettier --write, eslint

Remove useless Promise.all()
  packages/vscode-mdx/src/extension.js
Due: none

Remove compiler option allowNonTsExtensions
  packages/language-service/lib/language-plugin.js
  packages/language-service/test/language-module.js
Due: none

Properly resolve relative paths when dropping files
  packages/vscode-mdx/src/document-drop-edit-provider.js
Due: none

Support await expressions
  .changeset/odd-fireants-smell.md
  packages/language-service/lib/virtual-file.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
Due: prettier --write

Support await expressions (#377)
  .changeset/odd-fireants-smell.md
  packages/language-service/lib/virtual-file.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
Due: prettier --write

Fix XO issue
  packages/language-service/lib/virtual-file.js
Due: none

Support VFileMessageError source in parsing error
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/service-plugin.js
Due: none

Update the text mate language
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: none

Update to Volar 2.0.0-alpha.10
  .changeset/beige-dolphins-shave.md
  .changeset/plenty-cherries-move.md
  packages/language-server/index.js
  packages/language-server/lib/language-server-plugin.js
  packages/language-server/package.json
  packages/language-server/test/initialize.test.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Provide a name for the MDX Volar service plugin
  packages/language-service/lib/service-plugin.js
Due: none

docs: update some outdated links
  packages/vscode-mdx/README.md
Due: prettier --write

Remove onLanguage:mdx activation event
  packages/vscode-mdx/package.json
Due: prettier --write

Update to Volar 2.0.0-alpha.13
  .changeset/plenty-cherries-move.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-service/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Update some outdated links (#380)
  packages/vscode-mdx/README.md
Due: prettier --write

Fix broken tests
  packages/language-server/test/completion.test.js
  packages/language-server/test/initialize.test.js
Due: none

Leverage Volar’s document drop edits provider
  .changeset/ten-suns-hammer.md
  .changeset/twelve-cheetahs-occur.md
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/document-drop-edit-provider.js
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Leverage Volar’s document drop edits provider (#381)
  .changeset/ten-suns-hammer.md
  .changeset/twelve-cheetahs-occur.md
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/document-drop-edit-provider.js
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Remove contents from document drop edits provider
  packages/language-service/lib/service-plugin.js
Due: none

Update typescript-plugin.js [skip ci]
  packages/vscode-mdx/src/typescript-plugin.js
Due: none

Refactor loading remark plugins from tsconfig.json
  .changeset/afraid-dodos-rhyme.md
  packages/language-server/index.js
  packages/language-server/lib/configuration.js
  packages/language-service/index.js
  packages/language-service/lib/tsconfig.js
Due: prettier --write

Refactor loading remark plugins from tsconfig.json (#383)
  .changeset/afraid-dodos-rhyme.md
  packages/language-server/index.js
  packages/language-server/lib/configuration.js
  packages/language-service/index.js
  packages/language-service/lib/tsconfig.js
Due: prettier --write

Inject JSX comments into MDX
  packages/language-server/index.js
  packages/language-server/test/completion.test.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/virtual-file.js
  packages/language-service/test/language-module.js
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
