Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,ts,tsx}": [
    "eslint",
    "git add"
  ]
}

bump
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Update to 2.4.0
  packages/language-server/package.json
  packages/language-server/test/definitions.test.js
  packages/language-service/package.json
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Update the MDX grammar
  .changeset/slimy-insects-hide.md
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Update the MDX grammar (#469)
  .changeset/slimy-insects-hide.md
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Add changeset
  .changeset/neat-spoons-exist.md
Due: prettier --write

Update to Volar 2.4 (#460)
  .changeset/neat-spoons-exist.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-server/test/definitions.test.js
  packages/language-server/test/initialize.test.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Exclude the out dir from the VSCode tsconfig
  packages/vscode-mdx/tsconfig.json
Due: prettier --write

Fix broken tests
  packages/language-server/test/completion.test.js
Due: none

Change custom request types to LSP commands
  .changeset/large-shoes-applaud.md
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/README.md
  packages/language-service/index.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/service-plugin.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
  tsconfig.base.json
Due: prettier --write

Fix a broken test
  packages/language-server/test/initialize.test.js
Due: none

Document editors that support MDX language server
  packages/language-server/README.md
Due: prettier --write

Refactor commands
  packages/language-service/index.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/service-plugin.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Use workspace/applyEdit commands to apply text changes
  packages/language-server/index.js
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/service-plugin.js
  packages/vscode-mdx/src/extension.js
Due: none

Update documentation
  packages/language-server/README.md
  packages/language-service/README.md
Due: prettier --write

Move language-server dependency vscode-uri to dev dependencies
  packages/language-server/package.json
Due: prettier --write

Change custom request types to LSP commands (#473)
  .changeset/large-shoes-applaud.md
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-server/test/initialize.test.js
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/README.md
  packages/language-service/index.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/service-plugin.js
  packages/vscode-mdx/src/extension.js
  tsconfig.base.json
Due: prettier --write

Use two tildes to toggle delete syntax
  .changeset/gold-meals-bathe.md
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/lib/service-plugin.js
Due: prettier --write

Use an asterisk to toggle emphasis
  .changeset/empty-donkeys-notice.md
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/lib/service-plugin.js
Due: prettier --write

Update the MDX grammar from upstream
  .changeset/five-bobcats-bow.md
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Update the MDX grammar from upstream (#479)
  .changeset/five-bobcats-bow.md
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Use an asterisk to toggle emphasis (#478)
  .changeset/empty-donkeys-notice.md
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/lib/service-plugin.js
Due: prettier --write

Use two tildes to toggle delete syntax (#477)
  .changeset/gold-meals-bathe.md
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/lib/service-plugin.js
Due: prettier --write

Fix broken types
  packages/language-service/lib/virtual-code.js
Due: none

Use multiple tsconfigs for language-service
  packages/language-server/lib/index.js
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/language-service/lib/types.ts
  packages/language-service/package.json
  packages/language-service/tsconfig.build.json
  packages/language-service/tsconfig.json
  packages/typescript-plugin/lib/index.cjs
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
  packages/vscode-mdx/script/build.mjs
  packages/vscode-mdx/tsconfig.json
Due: prettier --write, eslint

Add package.json main field for TypeScript plugin
  .changeset/nervous-spiders-sip.md
  .changeset/silly-kiwis-think.md
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
Due: prettier --write

Update the VSCode language from upstream
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: none

Explicitly handle JSX tags in order
  .changeset/sweet-rabbits-lick.md
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Update the TextMate grammar
  .changeset/tiny-geese-watch.md
  packages/vscode-mdx/syntaxes/source.mdx.tmLanguage
Due: prettier --write

Explicitly handle JSX tags in order (#486)
  .changeset/sweet-rabbits-lick.md
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Replace periscopic with estree-util-scope
  packages/language-service/lib/virtual-code.js
  packages/language-service/package.json
Due: prettier --write

Update the link to nvim-lspconfig configurations
  packages/language-server/README.md
Due: prettier --write

Document editors that support MDX language server (#475)
  packages/language-server/README.md
Due: prettier --write

Pass around scope instead of array of defined variables
  packages/language-service/lib/jsx-utils.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: none

Handle components defined in a local scope
  .changeset/curvy-cups-guess.md
  packages/language-service/lib/jsx-utils.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Handle components defined in a local scope (#488)
  .changeset/curvy-cups-guess.md
  packages/language-service/lib/jsx-utils.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: prettier --write

Update dev dependencies
  .changeset/shaggy-spoons-hunt.md
  package.json
  packages/language-server/package.json
  packages/vscode-mdx/package.json
  tsconfig.base.json
Due: prettier --write

Fix auto-imports
  packages/language-server/test/completion.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-plugin.js
Due: none

Add missing changeset
  .changeset/olive-tips-appear.md
Due: prettier --write

Remove reference to twitter
  CONTRIBUTING.md
Due: prettier --write

Remove reference to twitter (#494)
  CONTRIBUTING.md
Due: prettier --write
