Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Support custom components provided via a provider
  .changeset/quiet-beds-attend.md
  fixtures/fixtures.code-workspace
  fixtures/provide/components.tsx
  fixtures/provide/solar-system.mdx
  fixtures/provide/tsconfig.json
  fixtures/provide/types.ts
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: prettier --write, eslint

Fix xo issues
  fixtures/provide/tsconfig.json
  fixtures/provide/types.ts
Due: prettier --write, eslint

Support custom components provided via a provider (#402)
  .changeset/quiet-beds-attend.md
  fixtures/fixtures.code-workspace
  fixtures/provide/components.tsx
  fixtures/provide/solar-system.mdx
  fixtures/provide/tsconfig.json
  fixtures/provide/types.ts
  packages/language-server/test/diagnostics.test.js
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: prettier --write, eslint

Unpin @vscode/vsce
  packages/vscode-mdx/package.json
Due: prettier --write

Update the documentation
  .changeset/smooth-terms-build.md
  README.md
  contributing.md
  fixtures/fixtures.code-workspace
  package.json
  packages/language-server/README.md
  packages/language-service/README.md
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/package.json
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Update the documentation (#404)
  .changeset/smooth-terms-build.md
  README.md
  contributing.md
  fixtures/fixtures.code-workspace
  package.json
  packages/language-server/README.md
  packages/language-service/README.md
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/lib/tsconfig.js
  packages/language-service/package.json
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Enable code coverage
  .github/workflows/main.yml
  package.json
Due: prettier --write

Enable code coverage (#405)
  .github/workflows/main.yml
  package.json
Due: prettier --write

Rename all files to lower case
  .changeset/readme.md
  license
  packages/language-server/changelog.md
  packages/language-server/license
  packages/language-server/readme.md
  packages/language-service/changelog.md
  packages/language-service/license
  packages/language-service/readme.md
  packages/vscode-mdx/changelog.md
  packages/vscode-mdx/license
  packages/vscode-mdx/readme.md
  readme.md
Due: prettier --write

Fix broken links
  .changeset/readme.md
  .remarkignore
  contributing.md
  packages/language-server/readme.md
  packages/language-service/readme.md
  packages/vscode-mdx/changelog.md
  packages/vscode-mdx/readme.md
Due: prettier --write

Revert "Fix broken links"
  .changeset/readme.md
  .remarkignore
  contributing.md
  packages/language-server/readme.md
  packages/language-service/readme.md
  packages/vscode-mdx/changelog.md
  packages/vscode-mdx/readme.md
Due: prettier --write

Revert "Rename all files to lower case"
  .changeset/README.md
  LICENSE
  README.md
  packages/language-server/CHANGELOG.md
  packages/language-server/LICENSE
  packages/language-server/README.md
  packages/language-service/CHANGELOG.md
  packages/language-service/LICENSE
  packages/language-service/README.md
  packages/vscode-mdx/CHANGELOG.md
  packages/vscode-mdx/LICENSE
  packages/vscode-mdx/README.md
Due: prettier --write

Fix VSCode extension installation instructions
  packages/vscode-mdx/README.md
Due: prettier --write

Fix some documentation issues
  CONTRIBUTING.md
  README.md
  packages/language-server/README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Simplify the TypeScript plugin
  packages/language-server/lib/load-language-plugin.js
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/typescript-plugin.js
Due: prettier --write

Simplify the build script
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

Remove extension fs patch
  packages/language-server/tsconfig.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Optionally enable TypeScript in the language server
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
Due: prettier --write

Add changesets
  .changeset/green-waves-travel.md
  .changeset/wicked-comics-sort.md
Due: prettier --write

Fix packaging with dependencies enabled
  packages/vscode-mdx/.vscodeignore
Due: none

Fix type errors
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
Due: none

Remove unsupported TypeScript features
  packages/vscode-mdx/package.json
Due: prettier --write

Migrate to TS Plugin (#371)
  .changeset/green-waves-travel.md
  .changeset/wicked-comics-sort.md
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/vscode-mdx/.vscodeignore
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
  packages/vscode-mdx/src/extension.js
  packages/vscode-mdx/src/typescript-plugin.js
Due: prettier --write

Directly invoke the build script in the build task
  .vscode/tasks.json
  packages/vscode-mdx/package.json
Due: prettier --write

Use the _components variable
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: none

Use the _components variable (#409)
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: none

Use @internal to mark internal APIs
  .changeset/afraid-snakes-agree.md
  .changeset/proud-trains-prove.md
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: prettier --write

Use @internal to mark internal APIs (#410)
  .changeset/afraid-snakes-agree.md
  .changeset/proud-trains-prove.md
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: prettier --write

Always enable volar-service-typescript
  .changeset/clean-kiwis-promise.md
  packages/language-server/index.js
Due: prettier --write

Add tsconfig.json schema validation for more patterns
  .changeset/polite-masks-laugh.md
  packages/vscode-mdx/package.json
Due: prettier --write

Properly configure TypeScript
  .gitignore
  package.json
  packages/language-server/tsconfig.json
  packages/language-service/package.json
  packages/language-service/tsconfig.json
  packages/language-service/types.ts
  packages/tsconfig.json
  packages/vscode-mdx/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint

Enable declaration maps
  tsconfig.base.json
Due: prettier --write

Fix broken sponsors link in language service readme
  packages/language-service/README.md
Due: prettier --write

Add the coverage directory to .gitignore
  .gitignore
Due: none

Update to Volar 2.1.1
  fixtures/provide/types.ts
  packages/language-server/test/completion.test.js
  packages/language-server/test/definitions.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/document-symbols.test.js
  packages/language-server/test/folding-ranges.test.js
  packages/language-server/test/hover.test.js
  packages/language-server/test/initialize.test.js
  packages/language-server/test/no-tsconfig.test.js
  packages/language-server/test/prepare-rename.test.js
  packages/language-server/test/rename.test.js
  packages/language-service/lib/service-plugin.js
Due: eslint

Add c8 configuration
  .c8rc.json
Due: prettier --write

Move basic usage instructions to the repo root
  README.md
  packages/language-server/README.md
  packages/vscode-mdx/README.md
Due: prettier --write

Add link to the language server from VSCode extension
  packages/vscode-mdx/README.md
Due: prettier --write

Fix header levels in language server readme
  packages/language-server/README.md
Due: prettier --write

Publish the TypeScript plugin as an npm package
  .changeset/curvy-cows-matter.md
  README.md
  packages/tsconfig.json
  packages/typescript-plugin/CHANGELOG.md
  packages/typescript-plugin/LICENSE
  packages/typescript-plugin/README.md
  packages/typescript-plugin/index.cjs
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
