Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: switch from yarn to npm (#244)
  .github/workflows/ci.yml
  .github/workflows/pkg-size.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
  .npmrc
  .vscodeignore
  package.json
  yarn.lock
Due: prettier --write

Remove workflow cache keys
  .github/workflows/ci.yml
  .github/workflows/pkg-size.yml
  .github/workflows/version.yml
Due: prettier --write

Remove workflow cache keys (#245)
  .github/workflows/ci.yml
  .github/workflows/pkg-size.yml
  .github/workflows/version.yml
Due: prettier --write

Remove pkg-size workflow
  .github/workflows/pkg-size.yml
Due: prettier --write

Remove pkg-size workflow (#246)
  .github/workflows/pkg-size.yml
Due: prettier --write

Apply suggestions from code review
  .changeset/short-coins-bow.md
  syntaxes/mdx.tmLanguage.json
Due: prettier --write

feat: support for highlighting JSX evaluated expressions (#222)
  .changeset/short-coins-bow.md
  syntaxes/mdx.tmLanguage.json
  test/fixture.mdx
Due: prettier --write, eslint

chore: fix packaging quirks
  .github/workflows/publish.yml
  .gitignore
  .vscodeignore
  .yarnrc
  package.json
Due: prettier --write

chore: fix Prettier integration
  .prettierignore
  package.json
  syntaxes/mdx.tmLanguage.json
Due: prettier --write

chore: fix remark configuration for changesets
  .changeset/README.md
  .changeset/short-coins-bow.md
  package.json
Due: prettier --write

chore: fix packaging quirks (#248)
  .github/workflows/publish.yml
  .gitignore
  .vscodeignore
  .yarnrc
  package.json
Due: prettier --write

chore: Fix prettier (#249)
  .prettierignore
  package.json
  syntaxes/mdx.tmLanguage.json
Due: prettier --write

chore: fix remark setup (#250)
  .changeset/README.md
  .changeset/short-coins-bow.md
  package.json
Due: prettier --write

chore: remove legacy-peer-deps from .npmrc
  .npmrc
Due: none

chore: widen semver dependency ranges
  package.json
Due: prettier --write

docs: remove irrelevant badges from readme
  README.md
Due: prettier --write

chore: widen semver dependency ranges (#252)
  package.json
Due: prettier --write

chore: remove legacy-peer-deps from .npmrc (#251)
  .npmrc
Due: none

docs: remove irrelevant badges from readme (#253)
  README.md
Due: prettier --write

Refactor Monaco integration and add tests
  demo/package.json
  demo/src/index.js
  demo/webpack.config.js
  package.json
  packages/monaco/README.md
  packages/monaco/index.js
  packages/monaco/lib/language-features.js
  packages/monaco/mdx.override.js
  packages/monaco/mdx.worker.js
  packages/monaco/package.json
  packages/monaco/playwright.config.js
  packages/monaco/tests/definition.test.js
  packages/monaco/tests/diagnostics.test.js
  packages/monaco/tests/hover.test.js
  packages/monaco/tests/index.html
  packages/monaco/tests/references.test.js
  packages/monaco/tests/setup.js
Due: prettier --write

Align scripts with rest of unified ecosystem
  .github/workflows/ci.yml
  .github/workflows/main.yml
  README.md
  package.json
Due: prettier --write

Align scripts with rest of unified ecosystem (#254)
  .github/workflows/ci.yml
  .github/workflows/main.yml
  README.md
  package.json
Due: prettier --write

Fix tests
  demo/webpack.config.js
  fixtures/demo/components/avatar.tsx
  fixtures/demo/fixture.mdx
  package.json
  packages/language-server/package.json
  packages/language-service/lib/index.js
  packages/language-service/lib/markdown.js
  packages/language-service/lib/utils.js
  packages/monaco/index.js
  packages/monaco/package.json
  packages/monaco/tests/index.html
Due: prettier --write, eslint

Refactor to rename `master` to `main`
  .changeset/config.json
  .github/workflows/version.yml
  README.md
Due: prettier --write

Rename master to main
  .changeset/config.json
  .github/workflows/version.yml
  README.md
  syntaxes/mdx.tmLanguage.json
Due: prettier --write

Fix broken test
  packages/language-server/tests/rename.test.js
Due: none

Fix playwright install in CI
  .github/workflows/main.yml
Due: prettier --write

Make language server opt-in
  README.md
  package.json
  packages/language-client/index.js
Due: prettier --write

Disable macos tests
  .github/workflows/main.yml
Due: prettier --write

Disable Windows in CI
  .github/workflows/main.yml
Due: prettier --write

Increase language server test timeout
  packages/language-server/tests/utils.js
Due: none

Update README.md
  README.md
Due: prettier --write

Change casing of MDX in function names
  demo/src/index.js
  packages/language-server/lib/language-service-manager.js
  packages/language-service/README.md
  packages/language-service/index.js
  packages/language-service/lib/index.js
  packages/monaco/README.md
  packages/monaco/index.js
  packages/monaco/mdx.worker.js
  packages/monaco/tests/setup.js
Due: prettier --write

Remove commented code
  demo/webpack.config.js
  packages/monaco/lib/convert.js
Due: none

Update packages/language-server/README.md
  packages/language-server/README.md
Due: prettier --write

Apply suggestions from code review
  packages/language-server/README.md
Due: prettier --write

Include specific extensions in demo
  demo/src/index.js
  package.json
Due: prettier --write

Fix IntelliSense casing
  README.md
  fixtures/demo/fixture.mdx
  package.json
  packages/language-server/package.json
  packages/language-service/lib/utils.js
  packages/language-service/package.json
  packages/monaco/README.md
  packages/monaco/index.js
  packages/monaco/package.json
Due: prettier --write, eslint

Use strict assertion mode
  packages/language-server/tests/definitions.test.js
  packages/language-server/tests/document-symbols.test.js
  packages/language-server/tests/hover.test.js
  packages/language-server/tests/initialize.test.js
  packages/language-server/tests/prepare-rename.test.js
  packages/language-server/tests/rename.test.js
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  eslint: any of: *.{mdx,ts,tsx}
