Repository mdx-js/mdx-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,ts,tsx}": [
    "eslint",
    "git add"
  ]
}

Publish the TypeScript plugin as an npm package (#416)
  .changeset/curvy-cows-matter.md
  README.md
  packages/tsconfig.json
  packages/typescript-plugin/CHANGELOG.md
  packages/typescript-plugin/LICENSE
  packages/typescript-plugin/README.md
  packages/typescript-plugin/index.cjs
  packages/typescript-plugin/package.json
  packages/typescript-plugin/tsconfig.json
  packages/vscode-mdx/package.json
  packages/vscode-mdx/script/build.mjs
Due: prettier --write

Use TypeScript module preserve for VSCode extension
  packages/vscode-mdx/tsconfig.json
Due: prettier --write

Update to xo 0.58
  package.json
Due: prettier --write

Allow toggling the TypeScript integration
  fixtures/fixtures.code-workspace
  packages/typescript-plugin/index.cjs
  packages/vscode-mdx/package.json
  packages/vscode-mdx/src/extension.js
Due: prettier --write

Add support for breakpoints
  .changeset/tiny-vans-protect.md
  fixtures/debug/example.mdx
  fixtures/debug/loader.mjs
  fixtures/debug/run.mjs
  fixtures/fixtures.code-workspace
  package.json
  packages/vscode-mdx/package.json
Due: prettier --write, eslint

Add support for breakpoints (#418)
  .changeset/tiny-vans-protect.md
  fixtures/debug/example.mdx
  fixtures/debug/loader.mjs
  fixtures/debug/run.mjs
  fixtures/fixtures.code-workspace
  package.json
  packages/vscode-mdx/package.json
Due: prettier --write, eslint

Using syntax-only TS service plugin
  packages/language-server/index.js
  packages/language-server/package.json
Due: prettier --write

Update index.js
  packages/language-server/index.js
Due: none

Apply suggestions from code review
  packages/language-server/index.js
Due: none

Add changeset
  .changeset/fuzzy-poets-wonder.md
Due: prettier --write

Fix broken test
  .changeset/fuzzy-poets-wonder.md
  packages/language-server/test/initialize.test.js
Due: prettier --write

Fix pushing the TS service plugin
  packages/language-server/index.js
  packages/language-server/test/initialize.test.js
Due: none

Use syntax-only TypeScript service plugin (#419)
  .changeset/fuzzy-poets-wonder.md
  packages/language-server/index.js
  packages/language-server/package.json
Due: prettier --write

Exclude @mdx-js/typescript-plugin from next release
  .changeset/curvy-cows-matter.md
Due: prettier --write

Update Volar services to 0.0.34
  packages/language-server/package.json
Due: prettier --write

Create a release to include upstream Volar fixes
  .changeset/curvy-lizards-hang.md
Due: prettier --write

Define typescript.tsdk in the fixtures workspace
  fixtures/fixtures.code-workspace
Due: none

Fix the file lookup in syntax toggles
  .changeset/purple-tomatoes-drop.md
  packages/language-service/lib/commands.js
Due: prettier --write

Fix the file lookup in syntax toggles (#425)
  .changeset/purple-tomatoes-drop.md
  packages/language-service/lib/commands.js
Due: prettier --write

Disable markdown based linting by default
  .changeset/silver-boats-kneel.md
  packages/vscode-mdx/package.json
Due: prettier --write

Disable markdown based linting by default (#429)
  .changeset/silver-boats-kneel.md
  packages/vscode-mdx/package.json
Due: prettier --write

Don’t skip VSCode related packages while debugging
  .vscode/launch.json
Due: prettier --write

Update dependencies related to unified
  .changeset/dry-pumas-begin.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-service/README.md
  packages/typescript-plugin/index.cjs
  packages/typescript-plugin/package.json
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Update dependencies related to unified (#430)
  .changeset/dry-pumas-begin.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/language-server/README.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-service/README.md
  packages/typescript-plugin/index.cjs
  packages/typescript-plugin/package.json
  packages/vscode-mdx/README.md
  packages/vscode-mdx/package.json
Due: prettier --write

Upgrade to Volar 2.2
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-service/lib/commands.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Add a changeset
  .changeset/red-timers-love.md
Due: prettier --write

Fix broken tests
  packages/language-server/test/completion.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/initialize.test.js
Due: none

Upgrade to Volar 2.2 (#431)
  .changeset/red-timers-love.md
  packages/language-server/index.js
  packages/language-server/package.json
  packages/language-server/test/completion.test.js
  packages/language-server/test/diagnostics.test.js
  packages/language-server/test/document-link.test.js
  packages/language-server/test/initialize.test.js
  packages/language-service/lib/commands.js
  packages/language-service/lib/language-plugin.js
  packages/language-service/lib/service-plugin.js
  packages/language-service/package.json
  packages/language-service/test/language-module.js
  packages/typescript-plugin/package.json
  packages/vscode-mdx/package.json
Due: prettier --write

Fix markdown formatting
  packages/typescript-plugin/README.md
Due: prettier --write

Update the ovsx dev dependency to 0.9
  packages/vscode-mdx/package.json
Due: prettier --write

Only watch TS related file extensions if needed
  .changeset/hot-lies-wink.md
  packages/language-server/index.js
Due: prettier --write

Only watch TS related file extensions if needed (#432)
  .changeset/hot-lies-wink.md
  packages/language-server/index.js
Due: prettier --write

Trigger a new release to include Volar 2.2.1
  .changeset/few-bikes-boil.md
Due: prettier --write

Exclude coverage directories from type checking
  tsconfig.base.json
Due: prettier --write

Add missing tests
  packages/language-service/lib/virtual-code.js
  packages/language-service/test/language-module.js
Due: none

Rename language-module test to language-plugin
  packages/language-service/test/language-plugin.js
Due: none

Add tests for resolveRemarkPlugins
  packages/language-service/test/tsconfig.js
Due: none

Add tests for syntax toggles
  packages/language-server/test/syntax-toggle.test.js
  packages/language-service/index.js
Due: none

Update to Volar services 0.0.45
  .changeset/spicy-tables-crash.md
  packages/language-server/package.json
Due: prettier --write

Update to Volar services 0.0.45 (#437)
  .changeset/spicy-tables-crash.md
  packages/language-server/package.json
Due: prettier --write
